@model IEnumerable<SistemaWebEmpleado.Models.Empleado>

@{
    ViewData["Title"] = "Index Empleado";
}

@section sidebar{
    <h2>Administración de empleados</h2>
}
<h1>Empleados</h1>


@Html.ActionLink("Crear empleado", "Create", "Empleado")


<table>

    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Apellido)</th>
        <th>@Html.DisplayNameFor(model => model.DNI)</th>
        <th>@Html.DisplayNameFor(model => model.Legajo)</th>
        <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Legajo)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento.Date)
            </td>
            <td>
                @Html.ActionLink($"{item.Titulo}", "FilterByTitle", "Empleado", new { Titulo = item.Titulo })
            </td>
            <td class="celdaOpciones">
                @Html.ActionLink("Ver", "Details", "Empleado", new {id = item.Id})
                @Html.ActionLink("Borrar", "Delete", "Empleado", new {id = item.Id})
                @Html.ActionLink("Editar", "Edit", "Empleado", new {id = item.Id})

            </td>
        </tr>

    }

</table>

